* {
  font-family: Verdana, sans-serif;
  color: #000000;
  background-color: #EBEA86;
  text-align: center;
}

h1 {
  background-color: #9999FF;
}

h2 {
  background-color: #7777EE;
}

h3 {
  background-color: #5555EE;
}

.steps {
    font-size: 1.1em;
  font-weight: 700;
}

#source,
#source a {
  background-color: #8888DD;
}