* {
  font-family: Verdana, sans-serif;
  color: #000000;
  background-color: #EBEA86;
  text-align: center;
  box-sizing: border-box;
  max-width: 750px;
  margin: 5px auto;
  padding: 5px;
}

h1 {
  background-color: #9999FF;
}

h2 {
  background-color: #7777EE;
}

h3 {
  background-color: #5555EE;
}

.steps {
  font-size: 1.1em;
  font-weight: 700;
}

#source,
#source a {
  background-color: #8888DD;
}

li {
  list-style-type: none
}